<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      
    </style>
  </head>

  <body>
    <h1>新增task</h1>

    <%=render "form", task:@task %>

    <br />
    <%= link_to '回tasks列表', tasks_path %>  </body>
</html>
