
      <table>
        <thead>
          <tr>
            <td> id </td>
            <td> 姓名 </td>
            <td> email </td>
            <td> role </td>
          </tr>
        </thead>
        <tbody>
         <%= render "user", user: @user %> 
        </tbody>
      </table>
      <br>