
      <table>
        <thead>
          <tr>
            <td> id </td>
            <td> 姓名 </td>
            <td> email </td>
            <td> role </td>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td> <%=@user.id %> </td>
            <td> <%=@user.name %> </td>
            <td> <%=@user.email %> </td>
            <td> <%=@user.role%> </td>
          </tr>
        </tbody>
      </table>
      <br>